.imgcelular {
  width: 450px;
}

body {
  background-color: #fafafa;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.container {
  border: 1px solid #696969;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 40px;
}

input {
  height: 36px;
  border: 1px solid #696969;
  border-radius: 10px;
  margin-top: 10px;
}

button {
  background-color: #2f48ebd8;
  height: 30px;
  border-radius: 3px;
  border: none;
  color: #ffffff;
  margin-top: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.facebook {
  color: #050305;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.esqueceusenha {
  color: #383a3d;
  text-align: center;
  font-size: 10px;
  font-weight: italic;
  cursor: pointer;
  border-radius: 3px;
}

.imagens {
  position: relative;
}

.img-insta {
  height: 520px;
  position: absolute;
  left: 153px;
  top: 26px;
  transition: 2s ease-in-out;
}
